# Unity generated
Library/
Temp/
Obj/
Logs/
Build/
Builds/
UserSettings/

# Pakacage Guardian repositories  
.pg/

# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db
desktop.ini

# VCS
.git/
.svn/
/Assets
/Packages/com.yucp.components/wiki
/Thry
/ProjectSettings
Packages/com.yucp.components/wiki.meta
.antigravitycli/
